.section {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .1fr 1fr;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  
  &Title {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 2.4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    textarea {
      width:80%;
      font-family: inherit;
      word-wrap: break-word;
      text-align:center;
      background-color: transparent;
      font-size: 4rem;
      font-weight: 500;
      border: none;
      outline:none;
      resize: none;
    }
  }

  &Container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
      "transcription chat"
      "audio audio";
    grid-template-columns: .5fr .5fr;
    grid-template-rows: .9fr auto;
    gap: 2rem;
    overflow: hidden;
    
    &Chat {
      grid-area: chat;
      overflow: auto;
    }

    &Audio{
      grid-area: audio;
    }  

    &Transcription {
      overflow: auto;
      grid-area: transcription;
    }
  }
}

@media (max-width: 425px) {
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: auto;
    gap: 2rem;

    &Title {
      height: 15rem;
      font-size: 1.8rem;
      gap: 1.2rem;
      padding: 0 2rem;

      textarea {
        width: 100%;
        font-size: 2.8rem;
      }
    }

    &Container {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 3.6rem;
      overflow: auto;
      
      &Audio {
        height: 4rem;
      }

      &Transcription {
        overflow: auto;
        height: 40rem;
      }
      
      &Chat {
        overflow: auto;
        height: 50rem;
      }

    }
  }
}