@import  '@/styles/variables.module.scss';

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: $main-font-color;
  h1 {
    font-size: 3.2rem;
    font-weight: 400;
  }
  &Spinner {
    width: 6rem;
    height: 6rem;
    border: 0.6rem solid rgb(188, 188, 188);
    border-top: 0.6rem solid rgb(8, 79, 114);
    border-radius: 50%;
    animation: spinner 1s linear infinite;
    z-index: 10;
  }
}

