
.section {
  width: 100%;
  height: 100vh;
  display: flex;
  // grid-template-columns: 1fr;
  // grid-template-rows: .1fr auto;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 4rem;
  
  &Title {
    textarea {
      width:80%;
      font-family: inherit;
      word-wrap: break-word;
      text-align:center;
      background-color: transparent;
      font-size: 4.4rem;
      font-weight: 500;
      border: none;
      outline:none;
      resize: none;
    }
    width: 100%;
    height: 25vh;
    display: flex;
    font-size: 2.4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &Container {
    width: 100%;
    height: 75vh;
    display: grid;
    grid-template-areas:
      "audio chat"
      "transcription chat"
      "transcription chat";
    grid-template-columns: .5fr .5fr;
    grid-template-rows: .1fr .9fr;
    gap: 2rem;
    justify-content: center;

    &Chat {
      grid-area: chat;
      width: 100%;
      height: 100%;
      background-color: rgb(230, 230, 230);
    }

    &Audio{
      grid-area: audio;
      width: 100%;
      height: 100%;
    }  

    &Transcription {
      width: 100%;
      height: 100%;
      grid-area: transcription;
    }
  }
}