@import '@/styles/variables.module.scss';

$message-radius: .6rem;

.message {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  padding: 0.8rem 1.4rem;
  border-radius: $message-radius;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.25);
  max-width: 70%;
  word-wrap: break-word;
  color: $secondary-text;
  font-weight: 400;
}

.userMessage {
  align-self: flex-end;
  text-align: right;
  border-radius: $message-radius $message-radius 0 $message-radius;
  background: linear-gradient(90deg, $primary-color 0%, $secondary-color 100%);
  color: white;
}

.systemMessage {
  align-self: flex-start;
  text-align: left;
  border: 1px solid #afafaf;
  border-radius: $message-radius $message-radius $message-radius 0;
}