@import '@/styles/variables.module.scss';

.item {
  width: 100%;
  display: grid;
  grid-template-columns: .2fr .5fr .3fr;
  align-items: center;
  gap: 1.2rem;
  text-align: left;
  padding: .8rem 1rem;
  outline: none;
  word-wrap: break-word;
  border: none;
  background-color: transparent;
  color: $main-text;
  cursor: pointer;


  &:hover {
    border-radius: 2.5rem;
    padding: .8rem 1rem;
    border: 1px solid $primary-color;

    .itemFocus {
      display: flex;
    }
  }

  & > svg {
    width: 2.4rem;
    fill: $primary-color;
  }

  &Data {
    min-width: 100%;
    align-self: center;
    justify-self: flex-start;
    p {
      font-size: 1.8rem;
    }
  
    span {
      font-size: 1.4rem;
      color: $main-light-text;
    }
  }

  &Btns {
    display: flex;
  }


  &Focus {
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;

    &:nth-child(2) {
      svg {
        width: 2.2rem;
      }
    }

    svg {
      justify-self: flex-end;
      width: 3rem;
      fill: $main-light-text;
    }
  }
}

@media (max-width: 425px) {
  .item {
    &Focus {
      display: flex;

      svg {
        width: 2.8rem;
      }

      &:nth-child(2) {
        svg {

          width: 1.8rem;
        }
      }
    }

    &Btns {
      display: flex;

    }
  }
}