@import '@/styles/variables.module.scss';

.item {
  width: 100%;
  display: grid;
  grid-template-columns: .2fr .5fr .3fr;
  align-items: center;
  gap: 1.2rem;
  text-align: left;
  padding: .8rem 1rem;
  outline: none;
  word-wrap: break-word;
  border: none;
  background-color: transparent;
  color: $main-text;
  cursor: pointer;


  &:hover {
    border-radius: 2.5rem;
    padding: .8rem 1rem;
    border: 1px solid $primary-color;
  }

  & > svg {
    width: 2.4rem;
    fill: $primary-color;
  }

  &Data {
    min-width: 100%;
    align-self: center;
    justify-self: flex-start;
    p {
      font-size: 1.8rem;
    }
  
    span {
      font-size: 1.4rem;
      color: $main-light-text;
    }
  }

  &Focus {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      justify-self: flex-end;
      width: 2.6rem;
      fill: $main-light-text;
    }
  }
}