@import '@/styles/variables.module.scss';

.item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.2rem;
  text-align: left;
  padding: .8rem 1rem;
  outline: none;
  word-wrap: break-word;
  border: none;
  background-color: transparent;
  color: $main-text;
  cursor: pointer;


  &:hover {
    border-radius: 2.5rem;
    padding: .8rem 1rem;
    border: 1px solid $primary-color;

    .itemFocus {
      display: flex;
    }
  }

  & > svg {
    width: 2.4rem;
    fill: $primary-color;
  }

  &Data {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: flex-start;

    p {      
      font-size: 1.8rem;
    }
  
    span {
      font-size: 1.4rem;
      color: $main-light-text;
    }
  }

  &Btns {
    display: flex;
  }


  &Focus {
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;

    svg {
      justify-self: flex-end;
      width: 3rem;
      fill: $main-light-text;
    }
  }
}

@media (max-width: 768px) {
  .item {
    max-width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 1rem ;
    align-items: center;
    gap: 1rem;

    &Focus {
      display: flex;

      svg {
        width: 2.8rem;
      }
    }

    &Btns {
      display: flex;
      gap: .8rem;
    }
  }
}