* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 100vw;
  font-size: 1.6rem;
  color: #202020;
  background-color: #f9f9f9;
}

a {
  text-decoration: none;
  color: inherit;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
