@import "./variables.module.scss";

.container {
  max-width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  color: $main-text;
}

.header {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  z-index: 100;
  height: $mobile-header-height;


  h1 {
    font-size: 1.8rem;
  }

  &Logo {
    color: $main-text;
    display: flex;
    align-items: center;
  }

  &CTA {
    font-size: 1.4rem;
    font-weight: 500;
    width: 55%;
    height: 3.4rem;
    background-color: $primary-color;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.8rem;
    font-weight: 600;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  padding: 0 4rem;

  &Content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    gap: 4rem;

    h1 {
      span {
        background: linear-gradient(180deg, #6956BB 0%, #b9a9ff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      margin-top: 1.5rem;
      padding: .8rem 0;
      border-radius: .8rem;
      background-color: transparent;
      border: 1px solid $primary-color;
    }
  }

  &Video {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.2rem;

    h2 {
      background: linear-gradient(180deg, #6956BB 0%,  #b9a9ff 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    .demoVideo {
      width: 100%;
      padding-bottom: 56.25%;
      position: relative;

    }
  }

  &Demo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h2 {
      background: linear-gradient(180deg, #6956BB 0%,  #b9a9ff 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    div {
      width: 100%;
      padding-bottom: 56.25%;
      position: relative;
    }
  }

  &Cases {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.4rem;

    h2 {
      text-align: center;
      background: linear-gradient(180deg, #6956BB 0%,  #b9a9ff 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    &List {
      width: 100%;
      display: grid;
      justify-content: center;
      align-items: flex-start;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      gap: 5rem;

      .case {
        h3 {
          font-size: 2rem;
        };

        justify-self: center;
        align-items: center;
        max-width:25rem; 
        display: flex;
        flex-direction: column;
        gap: 1rem;


        ul {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          list-style-position: inside;
          list-style-type: none;
          li {
            display: flex;
            align-items: center;
            gap: 1rem;
            svg {
              width: 4.4rem;
              fill: $light-primary;
            }

          }
        }

        .fit {
          svg {
            width: 2rem;
          }
        }

        .clock {
          svg {
            width: 2.8rem;
          }
        }
      }
    }
  }

  &CTA {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
    text-align: center;
    margin-bottom: 3rem;
    
    h2 {
      text-align: center;
      background: linear-gradient(180deg, #6956BB 0%,  #b9a9ff 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    button {
      width: 80%;
      margin-top: 1.5rem;
      padding: .8rem 0;
      border-radius: .8rem;
      background-color: transparent;
      border: 1px solid $primary-color;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $light-primary;
  padding: 2rem;
  div {
    font-size: 1.2rem;
    color: white;
    justify-self: flex-end;
  }
}

@media (min-width: 640px) { 
  .header {
    h1 {
      font-size: 2.4rem;
    }
    &CTA {
      width: 35%;
    } 
  }

  .main {
    margin-top: 2rem;
    gap: 10rem;

    &Content {
      width: 90%;

      button {
        width: 50%;
      }
    }

    &Video {
      width: 90%;
      gap: 2.8rem;
      h2 {
        font-size: 2.6rem;
      }
    }

    &Demo {
      width: 90%;
      gap: 2.8rem;
      h2 {
        font-size: 2.6rem;
      }
    }

    &Cases {
      h2 {
        font-size: 2.8rem;
      }
      &List {
        gap: 5rem;
      }
    }

    &CTA {
      width: 90%;

      button {
         width: 50%;
      }
    }
  }
}

@media (min-width: 768px) {
  .main {
    margin-top: 3rem;
    &Content {
      width: 85%;

      button {
      width: 40%;
      }
    }

    &Video {
      width: 85%;
      h2 {
        font-size: 2.8rem;
      }
    }

    &Demo {
      width: 85%;
      h2 {
        font-size: 2.8rem;
      }
    }

    &Cases {
      width: 85%;
      h2 {
        font-size: 2.8rem;
      }

      &List {
        grid-template-columns: repeat(2, 1fr);

        .case {
          max-width: 30rem;
        }
      }
    }

    &CTA {
      width: 85%;

      button {
         width: 40%;
      }
    }


  }
}

@media(min-width: 1024px) {
  .header {
    padding: 0.8rem 5rem;
    
    &CTA {
      width: 25%;
    }
  }

  .main {
    margin-top: 8rem;

    &Content {
      gap: 4rem;
      h1 {
        width: 75%;
        font-size: 4rem;
      }

      p {
        width: 75%;
        font-size: 1.8rem;
      }

      button {
        width: 30%;
        font-size: 1.6rem;
      }
    }

    &Video {
      gap: 4.4rem;
      width: 80%;
      h2 {
        font-size: 3rem;
      }
    }

    &Demo {
      gap: 4.4rem;
      width: 80%;
      h2 {
        font-size: 3rem;
      }
    }

    &Cases {
      width: 80%;
      gap: 6rem;
      h2 {
        font-size: 3rem;
      }

      &List {
        grid-template-columns: repeat(2, 1fr);
        gap: 6rem;

        .case {
          max-width: 30rem;
          gap: 1.8rem;

          h3 {
            font-size: 2.2rem;
            gap: 1.2rem;
          }

          ul {
            gap: 1.6rem;
          }
        }
      }
    }

    &CTA {
      width: 80%;
      margin-bottom: 6rem;

      h2 {
        font-size: 3rem;
      }
      button {
         width: 30%;
         font-size: 1.6rem;
      }
    }
  }

  .footer {
    padding: 5rem 0 3rem 5rem ;

    div {
      font-size: 1.4rem;
    }
  }
}

