@import './variables.module.scss';

.header {
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding: 0 2rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  color: $primary-color;
}

.login {
  width: 100%;
  min-height: calc(100vh - 6rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 0 4rem;
}

.loginContainer h1 {
  font-weight: 400;
  font-size: 2.6rem;
  color: $main-text;
}

.socialLogin {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.socialLoginElement{
  width: 100%;
  height: 5.4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1.6rem;
  border: 1px solid $secondary-text;
  border-radius: 1rem;
  background-color: #f9f9f9;
  color: $secondary-text;
  cursor: pointer;

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

.googleIcon {
  object-fit: contain;
  width: 3rem;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: $secondary-text;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider p {
  font-size: 2rem;
  color: $secondary-text;
  background-color: #f9f9f9;
  padding: 0 2rem;
}

.loginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.loginFormElement {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.8rem;
}

.loginFormElement p {
  text-align: end;
  font-size: 1.6rem;
  color: $secondary-text;
  cursor: pointer;
}

.loginFormElement input {
  font-size: 1.6rem;
  color: $main-text;
  padding: 1.4rem;
  border-radius: 1rem;
  display: flex;
  outline: none;
  border: 1px solid $secondary-text;
  background-color: #f9f9f9;

  &:focus {
    border: 1px solid $primary-color;
  }
}

.loginButton {
  height: 4rem;
  width: 100%;
  background-color: #f9f9f9;
  outline: none;
  border: 1px solid $secondary-text;
  border-radius: 1rem;
  font-size: 1.8rem;
  color: $main-text;
  margin-top: 2rem;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
  }
}

@media (min-width: 520px) {
  .header {
    height: 8rem;
  }

  .login {
    min-height: calc(100vh - 8rem);
  }

  .loginContainer {
    max-width: 70%;
    height: 90%;
    padding: 4rem;
    border: 1px solid black;
    border-radius: 1rem;
  }

  .loginForm {
    gap: 2rem;
  }
}

@media(min-width: 768px) {
  .header {
    font-size: 1.4rem;
    padding: 0 4rem;
  }
  .loginContainer {
    // min-width: 30%;
    max-width: 50%;
  }
}

@media (min-width: 1024px) {
  .loginContainer {
    max-width: 30%;
  }
}
