@import '@/styles/variables.module.scss';

.header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  color: $light-primary;

  h1 {
    cursor: pointer;
  }
}