@import  '@/styles/variables.module.scss';

.aside {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: .9fr auto;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;

  &Logs {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;
    align-self: flex-start;
    gap: 2rem;

    h1 {
      font-weight: 400;
      font-size: 2.2rem;
    }


    &History {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-right: 1rem;
      gap: 2rem;
      overflow-y: auto;
    }  
  }

  &Controls {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-self: flex-end;
    padding: 2rem;

    &Item {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      padding: .4rem;
      border-radius: 2.6rem;
      border: 1px solid #6956bb;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      cursor: pointer;

      svg {
        width: 3.4rem;
        fill: #6956bb;
        align-self: flex-start;
      }

      p {
        font-weight: 400;
        font-size: 1.6rem;
        color: #6956bb;
      }

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
