@import '../../styles/variables.module.scss';

.aside {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-rows: .1fr .80fr .1fr;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 0 4px 2px rgba(0, 0, 0, 0.169);

  &Header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.169);
  }

  &Logs {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-self: flex-start;
    gap: 2rem;

    h1 {
      font-weight: 400;
      font-size: 2.2rem;
    }

    p{
      font-size: 1.4rem;
      color: $secondary-font-color;
    }

    &History {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-right: 1rem;
      gap: 2rem;
      overflow-y: auto;

        button {
          display: flex;
          flex-direction: column;
          gap: .2rem;
          text-align: left;
          padding: .8rem 2rem;
          border-radius: .6rem;
          outline: none;
          border: none;
          background-color: #dddddd;
          box-shadow: 2px 2px 0 1.4px rgba(0, 0, 0, 0.169);
          color: $main-font-color;
          cursor: pointer;
  
          p {
            font-size: 1.8rem;
          }
  
          span {
            font-size: 1.4rem;
            color: $secondary-font-color;
          }
        }
      }  
  }

  &Controls {

  
  &Logout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    // padding: 1.4rem 1rem;

    svg {
      width: 4rem;
      align-self: flex-start;
    }

    p {
      font-weight: 400;
      font-size: 1.6rem;
    }
  }

  &NewLog {
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: row;
    // padding: 1.4rem .4rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 -1px 4px 2px rgba(0, 0, 0, 0.169);
    cursor: pointer;

    svg {
      width: 4rem;
      fill: $main-font-color;
      align-self: flex-start;
    }

    p {
      font-weight: 400;
      font-size: 1.6rem;
      color: $main-font-color;
    }

  }
  }
}
